@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css");

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 20px;
  box-sizing: border-box;
  background-color: grey;
  color: white;
}

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__title {
  font-size: 58px;
  margin-bottom: 30px;
}

.login__input {
  background: none;
  border: none;
  border-bottom: 3px solid white;
  width: 90%;
  margin-bottom: 2dvb;
  font-size: 48px;
  color: white;
  text-align: center;
}

.login__input:focus-visible {
  outline: none;
}

.login__desc {
  margin-bottom: 30px;
}

.login__btn {
  color: white;
  background: none;
  padding: 10px 40px;
  border-radius: 25px;
  border: 2px solid white;
  font-size: 18px;
}

.header {
  align-self: flex-end;
}

.header__widget {
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: end;
  color: white;
}

.header__icon,
.header__weather {
  font-size: 26px;
}

.header__location {
  font-size: 12px;
  letter-spacing: 0.03em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__clock {
  font-size: 150px;
  margin-bottom: 20px;
}

.main__greet {
  font-size: 48px;
  margin-bottom: 130px;
}

.main__blah {
  font-size: 32px;
  margin-bottom: 30px;
}

.current__goal,
.main__goal {
  font-size: 28px;
  background: none;
  border: none;
  border-bottom: 2px solid white;
  text-align: center;
  color: white;
  width: 100%;
}

.current__goal {
  border-bottom: none;
}

.main__goal:focus-visible {
  outline: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer > div:first-child {
  width: 10%;
}

.footer__quote {
  width: 80%;
  text-align: center;
  font-size: 18px;
  position: relative;
}

.footer__quote-author {
  color: lightgray;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

.footer__quote-content {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  transform: translateY(0px);
  transition: transform 1s;
}

.footer__quote:hover > .footer__quote-content {
  transform: translateY(-20px);
  transition: transform 1s;
}

.footer__quote:hover > .footer__quote-author {
  opacity: 1;
  transition: opacity 1s;
}

.footer__task {
  text-align: end;
  width: 10%;
}

.footer__task-btn {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
}

.weather {
  position: fixed;
  top: 70px;
  right: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 5px;
  border-top-right-radius: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10fr 15fr;
  column-gap: 70px;
}

.weather__cell:first-child {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.weather__location {
  font-size: 18px;
}

.weather__condition {
  font-size: 15px;
  color: lightgray;
}

.weather__cell:nth-child(2) {
  font-size: 48px;
  display: flex;
  align-items: end;
  gap: 10px;
}

.weather__cell:nth-child(3) {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
}

.weather__cell:nth-child(3) > p {
  color: lightgray;
}

.weather__cell:nth-child(3) > p > span {
  color: white;
}

.tasks {
  position: fixed;
  right: 30px;
  bottom: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tasks__title {
  font-size: 20px;
}

.tasks__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.tasks__content-text {
  color: lightgray;
}

.tasks__content-btn {
  background-color: rgb(0, 177, 177);
  padding: 5px 20px;
  border-radius: 10px;
  color: white;
  border: none;
}

.tasks__content-btn:hover {
  background-color: darkcyan;
}

.tasks__new {
  width: 280px;
  background: none;
  border: none;
  font-size: 16px;
  color: white;
}

.tasks__new:focus-visible {
  outline: none;
}

.tasks__list {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tasks__list > li {
  display: flex;
  align-items: center;
  gap: 7px;
}

.tasks__list > li > button {
  background: none;
  border: none;
}

.fa-x {
  color: red;
}

.hidden {
  display: none;
}

.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.main__submit,
.task__submit {
  visibility: hidden;
}
